<table class="compact-compare"><tbody>
<colgroup>
	<col>
	<col>
	<col ng-repeat="item in contenders" class="{{ item.faction|lowercase }}">
	</colgroup>
	
	<tr>
	<!--The first cell: it contains some buttons-->
	<td colspan=2></td>
	
	<!--The col headers: one draggable unit each-->
	<td ng-repeat="item in contenders" class="{{ item.faction|lowercase }}"
		ng-drag="true" ng-drag-data="$index"
		ng-drop="true" ng-drop-success="moveUnit($index, $data, $event)"
	>
	
	<header>
		<span class="thumb icon-{{ item.id }}" title="{{ item.fullName }}">
			<span class="strategic icon-{{ item.faction  }}_{{ item.strategicIcon}}" ></span>
		</span>
	</header>
	</td></tr>
	
	<!--The following rows: a subcategory each-->
	<tr ng-repeat="subCat in subCategories" class="sec">
	<td>{{subCat[0]}}</td>
	<td>{{subCat[1]}}</td>
	<td ng-repeat="unit in contenders">
		{{unit.content[subCat[0]][0][1][0][1]}}
	</td>
</tbody>
</table>


<div class="details">

<table class="tab-compare"><tbody>
	
	<colgroup>
	<col>
	<col span="2" ng-repeat="item in contenders" class="{{ item.faction|lowercase }}">
	</colgroup>
	
	<tr>
	<!--The first cell: it contains some buttons-->
	<td></td>
	
	<!--The col headers: one draggable unit each-->
	<td colspan=2 ng-repeat="item in contenders" class="{{ item.faction|lowercase }}"
		ng-drag="true" ng-drag-data="$index"
		ng-drop="true" ng-drop-success="moveUnit($index, $data, $event)"
	>
	<header>
		<span class="thumb icon-{{ item.id }}" title="{{ item.fullName }}">
			<span class="strategic icon-{{ item.faction  }}_{{ item.strategicIcon}}" ></span>
		</span>
		<a title="Remove unit from comparaison" class="remove-unit" ng-click="removeUnit($index)">x</a>
		<h1>{{ item.fullName }}<small><br/>{{ item.faction }}</small></h1>
	</header>
	</td></tr>
	
	<!--The following rows: a category each-->
	<tr ng-repeat="cat in categories" class="sec">
	<td>{{cat}}</td>
	<td ng-repeat-start="unit in contenders">
		<ul>
		<li ng-repeat='group in unit.content[cat]'>
			<ul>
			<li ng-if="group[0]" class=group-header>{{group[0]}}</li>
			<li ng-repeat="subcatGroup in group[1]">{{subcatGroup[0]}}</li>
			</ul>
		</li>
		</ul>
		
	</td><td ng-repeat-end>
		<ul>
		<li ng-repeat='group in unit.content[cat]'>
			<ul>
			<li ng-if="group[0]" class=group-header></li>
			<li ng-repeat="subcatGroup in group[1]" title="{{subcatGroup[2]}}">{{subcatGroup[1]}}</li>
			</ul>
		</li>
		</ul>
	</td>
	</tr>
	
</tbody></table>
</div>

<section>
	<unit ng-repeat="u in contenders" content="u"></ng-unit>
</section>
<aside class="filters">
</aside>
